<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <!-- title -->
                <div class="row mb-3">
                    <div class="col-md-6">
                        <h4 class="card-title"><i class="{{st.icon}}"></i> {{st.caption}}.
                            <span data-lang="Просмотр записи">Просмотр записи</span> #{{st.id}}
                        </h4>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn waves-effect waves-light btn-outline-secondary list-btn" data-route="{{st.cntrl}}-list-{{st.page}}"><i class="fas fa-list"></i> 
                            <span data-lang="Вся">Вся</span>
                            <span data-lang="{{st.caption}}">{{st.caption}}</span>
                        </button>
                    </div>
                </div>
                <!-- title -->
                <div class="row">
                    <div class="col-md-12">
                        {{#causer_id}}
                            <label class="control-label">Кто делал</label>
                            <blockquote>{{causer.lastname}} {{causer.firstname}} {{causer.middlename}}</blockquote>    
                        {{/causer_id}}
                        
                        <label class="control-label">Дата</label>
                        <blockquote data-date="{{created_at}}">{{created_at}}</blockquote>

                        <label class="control-label">Действие</label>
                        <blockquote>{{action}}</blockquote>

                        <label class="control-label">Запись</label>
                        <blockquote>
                            #{{subject_id}}
                            <b>    
                                {{#subject.name}}
                                    {{subject.name}}
                                {{/subject.name}}
                                {{#subject.firstname}}
                                    {{subject.lastname}} {{subject.firstname}} {{subject.middlename}}
                                {{/subject.firstname}}
                                {{#subject.reg}}
                                    {{subject.model}} {{submodel}} {{subject.reg}}
                                {{/subject.reg}}
                            </b>
                            <br>
                            <span class="text-muted" data-model="{{subject_type}}">{{subject_type}}</span>
                        </blockquote>

                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th scope="col">Что изменялось</th>
                                        {{#updated}}
                                            <th scope="col">Было</th>
                                            <th scope="col">Стало</th>
                                        {{/updated}}
                                        {{^updated}}
                                            <th scope="col">Значение</th>
                                        {{/updated}}
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#properties}}
                                        <tr>
                                            <th scope="row">{{name}}</th>
                                            {{#updated}}
                                                <td>
                                                    {{#old_text}}#{{{old}}} {{{old_text}}}{{/old_text}}
                                                    {{^old_text}}
                                                        {{^old.read}}{{{old}}}{{/old.read}}
                                                        {{#old.read}}&#8226; Просмотр<br>{{/old.read}}
                                                        {{#old.create}}&#8226; Создание<br>{{/old.create}}
                                                        {{#old.update}}&#8226; Редактирование<br>{{/old.update}}
                                                        {{#old.delete}}&#8226; Удаление<br>{{/old.delete}}
                                                        {{#old.publish}}&#8226; Публикация<br>{{/old.publish}}
                                                    {{/old_text}}
                                                </td>
                                            {{/updated}}
                                            <td>
                                                {{#new_text}}#{{{new}}} {{{new_text}}}{{/new_text}}
                                                {{^new_text}}
                                                    {{^new.read}}{{{new}}}{{/new.read}}
                                                    {{#new.read}}&#8226; Просмотр<br>{{/new.read}}
                                                    {{#new.create}}&#8226; Создание<br>{{/new.create}}
                                                    {{#new.update}}&#8226; Редактирование<br>{{/new.update}}
                                                    {{#new.delete}}&#8226; Удаление<br>{{/new.delete}}
                                                    {{#new.publish}}&#8226; Публикация<br>{{/new.publish}}
                                                {{/new_text}}
                                            </th>
                                        </tr>
                                    {{/properties}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>