{{#data}}
    <a href="#" class="col-3 template-btn" data-id="{{id}}">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title mb-0">{{name}}</h5>
            </div>
        </div>
    </a>
{{/data}}