<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-8">
            <h4 class="card-title"><i class="{{st.icon}}"></i> 
              <span>{{st.caption}}</span>
            </h4>
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body collapse show">
            <div class="row">
              
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Дата создания</label>
                  <select class="form-control select2" name="period" data-selected={{st.period}}>
                    <option value="session">За все время</option>
                    <option value="day">За день</option>
                    <option value="week">За неделю</option>
                    <option value="month">За месяц</option>
                    <option value="quarter">За квартал</option>
                    <option value="year">За год</option>
                    <option value="custom">За произвольный период времени</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <div id="file_export_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered dataTable" id="file_export" role="grid" aria-describedby="file_export_info">
                  <thead>
                    <tr class="bg-light">
                      <th class="border-top-0" data-orderable="name"><b>Название</b></th>
                      <th class="border-top-0" data-orderable="facebook"><b>Репосты Facebook</b></th>
                      <th class="border-top-0" data-orderable="telegram"><b>Репосты Telegram</b></th>
                      <th class="border-top-0" data-orderable="views"><b>Просмотры</b></th>
                      <th class="border-top-0" data-orderable="like"><b>Лайки</b></th>
                      <th class="border-top-0" data-orderable="dislike"><b>Дизлайки</b></th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#data}}
                      <tr>
                        <td data-id="{{id}}"><b>
                          {{name}}
                        </b></td>
                        <td data-id="{{id}}">
                          {{facebook}}
                        </td>
                        <td data-id="{{id}}">
                          {{telegram}}
                        </td>
                        <td data-id="{{id}}">
                          {{views}}
                        </td>
                        <td data-id="{{id}}">
                          {{like}}
                        </td>
                        <td data-id="{{id}}">
                          {{dislike}}
                        </td>
                      </tr>
                    {{/data}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>