<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-8">
            <h4 class="card-title"><i class="{{st.icon}}"></i> 
              <span>{{st.caption}}</span>
            </h4>
          </div>
          <div class="col-md-4 text-right">
            {{#uScopes.create}} 
              <button type="button" class="btn waves-effect waves-light btn-outline-success add-btn" data-route="#{{st.cntrl}}-create"><i class="fas fa-plus"></i> <span>Добавить</span></button> 
            {{/uScopes.create}}
          </div>
        </div>
        <div class="card bg-light">
          <div class="card-body collapse show">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label class="control-label">Тип инфоблока</label> 
                  <select class="form-control select2 filter-select" data-selected="{{st.filters.inset_contents.type.value}}" name="type" value="{{st.filters.inset_contents.type.value}}">
                    <option value="">Все типы</option>
                    <option value="quote">Цитата</option>
                    <option value="joke">Анекдот</option>
                    <option value="video">Видео</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <div id="file_export_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered dataTable" id="file_export" role="grid" aria-describedby="file_export_info">
                  <thead>
                    <tr class="bg-light">
                      <th class="border-top-0" data-orderable="name"><b>Тип</b></th>
                      <th class="border-top-0" data-orderable="news_id"><b>Ссылка на новость</b></th>
                      <th class="border-top-0" data-orderable="text"><b>Текст</b></th>
                      <th class="border-top-0" data-orderable="updated_at"><b>Дата редактирования</b></th>
                      {{#uScopes.update}}
                        <th class="border-top-0" style="width: 40px" data-orderable="false"></th>
                      {{/uScopes.update}} 
                      {{#uScopes.delete}}
                        <th class="border-top-0" style="width: 40px" data-orderable="false"></th>
                      {{/uScopes.delete}}
                    </tr>
                  </thead>
                  <tbody>
                    {{#data}}
                      <tr>
                        <td class="view-btn" data-id="{{id}}"><b>
                          {{type_name}}
                        </b></td>
                        <td data-id="{{id}}">
                          <a href="/news/{{news.uri}}" target="_blank">{{news.name}}</a>
                        </td>
                        <td class="view-btn" data-id="{{id}}">
                        {{#video_code}}
                        
                        {{/video_code}}
                        {{! https://www.googleapis.com/youtube/v3/videos?part=snippet&id=hTLI8Frlt_I&key=AIzaSyBQKlrzGsd4daBNsqZJuyHm7ejIfXzJ5hk }}
                          {{text}}
                        </td>
                        <td class="view-btn" data-id="{{id}}">
                          <span data-date="{{updated_at}}">{{updated_at}}</span>
                        </td>
                        {{#uScopes.update}}
                          <td>
                            <button type="button" class="btn waves-effect waves-light btn-outline-primary edit-btn" data-id="{{id}}" title="Редактировать"><i class="fas fa-pencil-alt"></i></button>
                          </td>
                        {{/uScopes.update}} 
                        {{#uScopes.delete}}
                          <td>
                            <button type="button" class="btn waves-effect waves-light btn-outline-danger delete-btn" data-id="{{id}}" title="Удалить"><i class="fas fa-trash-alt"></i></button>
                          </td>
                        {{/uScopes.delete}}
                      </tr>
                    {{/data}}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>