<form class="edit-form admin" enctype="multipart/form-data" novalidate>
  <div class="row service-panel-close">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-3">
            <div class="col-md-6">
              <h4 class="card-title">
                <i class="{{st.icon}}"></i> {{st.caption}}. 
                {{#st.id}} 
                  {{#preview}}Просмотр записи #{{st.id}}{{/preview}} 
                  {{^preview}}Редактирование записи #{{st.id}}{{/preview}} 
                {{/st.id}} 
                {{^st.id}}Создание записи{{/st.id}}
              </h4>
              {{#published_at}}
                <h5 class="card-subtitle">Опубликовано <span data-date="{{published_at}}">{{published_at}}</span></h5>
              {{/published_at}}
            </div>
            <div class="col-md-6 text-right">
              <button type="button" class="btn waves-effect waves-light btn-outline-secondary list-btn" data-route="{{st.cntrl}}-list-{{st.page}}"><i class="fas fa-list"></i> Все {{st.caption}}</button> 
              {{#uScopes.update}} 
                {{#preview}} 
                  <button type="button" class="btn waves-effect waves-light btn-outline-primary edit-btn" data-id="{{st.id}}"><i class="fas fa-pencil-alt"></i> Редактировать</button> 
                {{/preview}} 
                {{^preview}} 
                  {{#st.id}} <button type="button" class="btn waves-effect waves-light btn-outline-success save-btn" data-id="{{st.id}}"><i class="fas fa-check"></i> Сохранить</button> {{/st.id}} 
                {{/preview}} 
              {{/uScopes.update}} 
              {{#uScopes.create}} 
                {{^preview}} 
                  {{^st.id}} <button type="button" class="btn waves-effect waves-light btn-outline-success save-btn" data-id><i class="fas fa-check"></i> Создать</button> {{/st.id}} 
                {{/preview}} 
              {{/uScopes.create}}
            </div>
          </div>    
          <div class="row">
            <div class="col-md-12">
              {{#preview}} 
                <div class="article">
                  <div>
                    {{#image}}
                      <header id="editorCover" class="longread-header main-img__wrap" style="background-image: url(\'/storage/pages/{{image}}\')"></header>
                    {{/image}}
                    <div class="article__container">
                      <h1 class="article__title">{{name}}</h1>
                    </div>
                  </div>
                  {{{text}}}
                </div>
              {{/preview}} 
              <input type="hidden" class="form-control" name="id" value="{{id}}">
              <input type="hidden" class="form-control" name="name" value="{{#name}}{{name}}{{/name}}" required>
              {{^preview}} 
                <input type="hidden" class="form-control" name="image">
                <input type="hidden" class="form-control" name="image_delete">
                <input type="hidden" class="form-control" name="text" value="{{text}}">
                {{#st.id}}
                  <div id="editor" class="article">
                    <div class="editor__item">
                      {{#image}}
                        <header id="editorCover" data-image class="longread-header main-img__wrap" style="background-image: url(\'/storage/pages/{{image}}\')"></header>
                      {{/image}}
                      {{^image}}
                        <header id="editorCover" class="longread-header main-img__wrap" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url(\'/editor/img/nature.jpg\')"></header>
                      {{/image}}
                      <div class="article__container">
                        <h1 id="editorTitle" class="article__title editable" data-disable-toolbar="true" data-placeholder="Введите заголовок страницы">{{name}}</h1>
                      </div>
                    </div>
                    {{{text}}}
                  </div>
                {{/st.id}}
                {{^st.id}}
                  <div id="editor" class="article">
                    <div class="editor__item">
                      <header id="editorCover" class="longread-header main-img__wrap" style="background-image: url(\'/editor/img/nature.jpg\')"></header>
                      <div class="article__container">
                        <h1 id="editorTitle" class="article__title editable" data-disable-toolbar="true" data-placeholder="Введите заголовок страницы"></h1>
                      </div>
                    </div>
                    {{#text}}
                      {{{text}}}
                    {{/text}}
                    {{^text}}
                      <div class="editor__item">
                        <div class="article__container editable" data-placeholder="Начните вводить текст"></div>
                      </div>
                    {{/text}}
                  </div>
                {{/st.id}}
              {{/preview}}
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-6 offset-md-6 text-right">
              <button type="button" class="btn waves-effect waves-light btn-outline-secondary list-btn" data-route="{{st.cntrl}}-list-{{st.page}}"><i class="fas fa-list"></i> Все {{st.caption}}</button> 
              {{#uScopes.update}} 
                {{#preview}} 
                  <button type="button" class="btn waves-effect waves-light btn-outline-primary edit-btn" data-id="{{st.id}}"><i class="fas fa-pencil-alt"></i> Редактировать</button> 
                {{/preview}} 
                {{^preview}} 
                  {{#st.id}} <button type="button" class="btn waves-effect waves-light btn-outline-success save-btn" data-id="{{st.id}}"><i class="fas fa-check"></i> Сохранить</button> {{/st.id}} 
                {{/preview}} 
              {{/uScopes.update}} 
              {{#uScopes.create}} 
                {{^preview}} 
                  {{^st.id}} <button type="button" class="btn waves-effect waves-light btn-outline-success save-btn" data-id><i class="fas fa-check"></i> Создать</button> {{/st.id}} 
                {{/preview}} 
              {{/uScopes.create}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <aside class="customizer">
    <a href="#" class="service-panel-toggle"><i class="fa fa-cog"></i></a>
    <div class="customizer-body scrollable" style="padding: 20px">
      <h5 class="card-title">Настройки страницы</h5>
      <hr>
      {{#preview}} 
        <label class="control-label">Опубликовано</label> 
        {{#published_at}}
            <blockquote>Да</blockquote>
        {{/published_at}} 
        {{^published_at}}
            <blockquote>Нет</blockquote>
        {{/published_at}} 
        <hr>

        <label class="control-label">URI-aдрес</label> 
        <blockquote>
            {{#published_at}} 
                <a href="{{origin}}/{{uri}}" target="_blank">{{uri}}</a>
            {{/published_at}} 
            {{^published_at}} 
                {{uri}}
            {{/published_at}}
        </blockquote>
        <hr>

        <label class="control-label">Тег title</label> 
        <blockquote>{{#meta_title}}{{meta_title}}{{/meta_title}}{{^meta_title}}{{name}}{{/meta_title}}</blockquote>
        <small class="form-text text-muted">А также og:title, twitter:title, itemprop="headline"</small>

        <br>
        <label class="control-label">Тег description</label> 
        <blockquote>{{meta_description}}</blockquote>
        <small class="form-text text-muted">А также og:description, twitter:description, itemprop="description"</small>

        <br>
        {{#uScopes.update}}
          <button type="button" class="btn btn-block waves-effect waves-light btn-outline-primary edit-btn" data-id="{{st.id}}"><i class="fas fa-pencil-alt"></i> Редактировать</button> 
        {{/uScopes.update}}

      {{/preview}} 
      {{^preview}} 
        {{#uScopes.publish}}
            <div class="form-group">
                <label class="control-label">Опубликовано</label> 
                <select class="form-control select2" name="status" data-selected="{{#published_at}}1{{/published_at}}{{^published_at}}0{{/published_at}}">
                    <option value="1">Да</option>
                    <option value="0">Нет</option>
                </select>
                <div class="invalid-feedback"></div>
            </div>
        {{/uScopes.publish}}
        {{^uScopes.publish}}
            <input type="hidden" name="status" value="{{#published_at}}1{{/published_at}}{{^published_at}}0{{/published_at}}">
            <label class="control-label">Опубликовано</label>
            {{#published_at}}
                <blockquote data-date="{{published_at}}">{{published_at}}</blockquote>
            {{/published_at}}
            {{^published_at}}
                <blockquote>не указано</blockquote>
            {{/published_at}}
        {{/uScopes.publish}}
        <hr>

        <label class="control-label">URI-aдрес</label> 
        <blockquote>
            {{#published_at}} 
                <a href="{{origin}}/{{uri}}" target="_blank">{{uri}}</a>
            {{/published_at}} 
            {{^published_at}} 
                {{uri}}
            {{/published_at}}
        </blockquote>
        <hr>

        <div class="form-group">
          <label class="control-label">Тег title</label>
          {{#meta_title}}
            <textarea class="form-control" name="meta_title" rows="3">{{meta_title}}</textarea>
          {{/meta_title}}
          {{^meta_title}}
            <textarea class="form-control" name="meta_title" rows="3">{{name}}</textarea>
          {{/meta_title}}
          <small class="form-text text-muted">А также og:title, twitter:title, itemprop="headline"</small>
        </div>

        <div class="form-group">
          <label class="control-label">Тег description</label>
          <textarea class="form-control" name="meta_description"  rows="8">{{meta_description}}</textarea>
          <small class="form-text text-muted">А также og:description, twitter:description, itemprop="description"</small>
        </div>

        <div class="form-group">
          <div class="form-check form-check-inline">
              <div class="custom-control custom-checkbox">
                  <input type="checkbox" checked class="custom-control-input" id="use_typograph" name="use_typograph" value="1">
                  <label class="custom-control-label" for="use_typograph">Включить типографирование</label>
              </div>
          </div>
        </div>

        {{#uScopes.create}} 
          {{^st.id}} <button type="button" class="btn btn-block waves-effect waves-light btn-outline-success save-btn" data-id><i class="fas fa-check"></i> Создать</button> {{/st.id}}  
        {{/uScopes.create}}
        {{#uScopes.update}}
          {{#st.id}} <button type="button" class="btn btn-block waves-effect waves-light btn-outline-success save-btn" data-id="{{st.id}}"><i class="fas fa-check"></i> Сохранить</button> {{/st.id}} 
        {{/uScopes.update}}

      {{/preview}} 
    </div>
  </aside>
</form>

<div class="modal" tabindex="-1" id="libraryModal">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="library">
          <div class="library-row"><b>Заголовки</b></div>
          <a href="#" class="library-col library-col-focus">
            <img src="../editor/img/previews/h2_v1.jpg" alt="">
            <span>Заголовок 1</span>
            <span class="library-html">
              <div class="article__container">
                <h2 class="article__title editable" data-disable-toolbar="true"></h2>
              </div>
            </span>
          </a>
          <a href="#" class="library-col library-col-focus">
            <img src="../editor/img/previews/h3_v1.jpg" alt="">
            <span>Заголовок 2</span>
            <span class="library-html">
              <div class="article__container">
                <h3 class="article__title editable" data-disable-toolbar="true"></h3>
              </div>
            </span>
          </a>
          <a href="#" class="library-col library-col-focus">
            <img src="../editor/img/previews/h4_v1.jpg" alt="">
            <span>Заголовок 3</span>
            <span class="library-html">
              <div class="article__container">
                <h4 class="article__title editable" data-disable-toolbar="true"></h4>
              </div>
            </span>
          </a>
          <div class="library-row"><b>Текст</b></div>
          <a href="#text" class="library-col library-col-focus">
            <img src="../editor/img/previews/text_v1.jpg" alt="">
            <span>Текстовый блок</span>
            <span class="library-html">
              <div class="article__container">
                <div class="article__main editable"></div>
              </div>
            </span>
          </a>
          <a href="#blockquote" class="library-col library-col-focus">
            <img src="../editor/img/previews/blockquote_v1.jpg" alt="">
            <span>Цитата</span>
            <span class="library-html">
              <div class="article__quote editable"></div>
            </span>
          </a>
          <div class="library-row"><b>Изображения</b></div>
          <a href="#image_1_v1" class="library-col">
            <img src="../editor/img/previews/i1_v1.jpg" alt="">
            <span>Изображение с подписью</span>
            <span class="library-html">
              <div class="article__images article__images--simple">
                <div class="article__image-wrap">
                  <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                  <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                </div>
              </div>
            </span>
          </a>
          <a href="#" class="library-col">
            <img src="../editor/img/previews/i2_v1.jpg" alt="">
            <span>Галерея из 2-х изображений</span>
            <span class="library-html">
              <div class="article__images article__container">
                  <div class="article__image-wrap article__image-wrap--2w">
                      <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                      <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                  </div>
                  <div class="article__image-wrap article__image-wrap--2w">
                      <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                      <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                  </div>
              </div>
            </span>
          </a>
          <a href="#" class="library-col">
            <img src="../editor/img/previews/i3_v1.jpg" alt="">
            <span>Галерея из 3-х изображений</span>
            <span class="library-html">
              <div class="article__images article__container">
                  <div class="article__image-wrap article__image-wrap--3w">
                      <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                      <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                  </div>
                  <div class="article__image-wrap article__image-wrap--3w">
                      <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                      <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                  </div>
                  <div class="article__image-wrap article__image-wrap--3w">
                      <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                      <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                  </div>
              </div>
            </span>
          </a>
          <a href="#image_3_v2" class="library-col">
            <img src="../editor/img/previews/i3_v3.jpg" alt="">
            <span>Галерея из 3-х изображений</span>
            <span class="library-html">
              <div class="article__images article__images--template-right article__container">
                  <div class="article__image-wrap article__image-wrap--a">
                      <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                      <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                  </div>
                  <div class="article__image-wrap article__image-wrap--b">
                      <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                      <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                  </div>
                  <div class="article__image-wrap article__image-wrap--c">
                      <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                      <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                  </div>
              </div>
            </span>
          </a>
          <a href="#image_3_v3" class="library-col">
            <img src="../editor/img/previews/i3_v2.jpg" alt="">
            <span>Галерея из 3-х изображений</span>
            <span class="library-html">
              <div class="article__images article__images--template-left article__container">
                <div class="article__image-wrap article__image-wrap--a">
                    <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                    <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                </div>
                <div class="article__image-wrap article__image-wrap--b">
                    <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                    <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                </div>
                <div class="article__image-wrap article__image-wrap--c">
                    <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                    <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                </div>
              </div>
            </span>
          </a>
          <a href="#image_5_v1" class="library-col">
            <img src="../editor/img/previews/i5_v2.jpg" alt="">
            <span>Галерея из 5-ти изображений</span>
            <span class="library-html">
              <div class="article__images article__container">
                <div class="article__image-wrap article__image-wrap--3w  article__image-wrap--2h">
                    <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                    <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                </div>
                <div class="article__image-wrap article__image-wrap--3w  article__image-wrap--2h">
                    <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                    <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                </div>
                <div class="article__image-wrap article__image-wrap--3w  article__image-wrap--2h">
                    <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                    <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                </div>
                <div class="article__image-wrap article__image-wrap--2w  article__image-wrap--2h">
                    <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                    <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                </div>
                <div class="article__image-wrap article__image-wrap--2w  article__image-wrap--2h">
                    <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                    <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                </div>
              </div>
            </span>
          </a>
          <a href="#image_5_v2" class="library-col">
            <img src="../editor/img/previews/i5_v1.jpg" alt="">
            <span>Галерея из 5-ти изображений</span>
            <span class="library-html">
              <div class="article__images article__container">
                <div class="article__image-wrap article__image-wrap--2w  article__image-wrap--2h">
                    <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                    <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                </div>
                <div class="article__image-wrap article__image-wrap--2w  article__image-wrap--2h">
                    <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                    <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                </div>
                <div class="article__image-wrap article__image-wrap--3w  article__image-wrap--2h">
                    <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                    <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                </div>
                <div class="article__image-wrap article__image-wrap--3w  article__image-wrap--2h">
                    <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                    <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                </div>
                <div class="article__image-wrap article__image-wrap--3w  article__image-wrap--2h">
                    <div class="article__image" style="background-image: url(\'/editor/img/nature.jpg\');"></div>
                    <div class="article__image-name editable" data-placeholder="Подпись к изображению"></div>
                </div>
              </div>
            </span>
          </a>
          <div class="library-row"><b>Популярные сервисы</b></div>
          <a href="#" class="library-col library-col-others library-col-youtube">
            <img src="../editor/img/previews/youtube_v1.jpg" alt="">
            <span>Youtube</span>
            <span class="library-html">
              <div class="article__video-wrap" style="background-color: #000000;">
                  <button class="play-btn play-btn--news" style="display:none;">
                      <svg>
                          <use xlink:href="#play"/>
                      </svg>
                  </button>
              </div>
            </span>
          </a>
          <a href="#" class="library-col library-col-others library-col-facebook">
            <img src="../editor/img/previews/facebook_v1.jpg" alt="">
            <span>Facebook</span>
            <span class="library-html"></span>
          </a>
          <a href="#" class="library-col library-col-others library-col-twitter">
            <img src="../editor/img/previews/twitter_v1.jpg" alt="">
            <span>Twitter</span>
            <span class="library-html"></span>
          </a>
          <a href="#" class="library-col library-col-others library-col-instagram">
            <img src="../editor/img/previews/instagram_v1.jpg" alt="">
            <span>Instagram</span>
            <span class="library-html"></span>
          </a>
          <a href="#" class="library-col library-col-others library-col-tiktok">
            <img src="../editor/img/previews/tiktok_v1.jpg" alt="">
            <span>Tiktok</span>
            <span class="library-html"></span>
          </a>
          <a href="#" class="library-col library-col-others library-col-embed">
            <img src="../editor/img/previews/embed_v1.jpg" alt="">
            <span>Код вставки</span>
            <span class="library-html"></span>
          </a>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<svg style="display: none;">
  <symbol id="play" viewBox="0 0 14 16">
    <path d="M13.0163 6.27705C14.3289 7.0507 14.3289 8.94941 13.0163 9.72306L3.46467 15.3526C2.13141 16.1384 0.449165 15.1771 0.449165 13.6296L0.449165 2.37055C0.449165 0.822958 2.13142 -0.138249 3.46467 0.647541L13.0163 6.27705Z"/>
  </symbol>
</svg>