<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-6">
            <h4 class="card-title">
              <i class="{{st.icon}}"></i> {{st.caption}}. 
              {{#st.id}} 
                {{#preview}}Просмотр записи #{{st.id}}{{/preview}} 
                {{^preview}}Редактирование записи #{{st.id}}{{/preview}} 
              {{/st.id}} 
              {{^st.id}}Создание записи{{/st.id}}
            </h4>
          </div>
          <div class="col-md-6 text-right">
            <button type="button" class="btn waves-effect waves-light btn-outline-secondary list-btn" data-route="{{st.cntrl}}-list-{{st.page}}"><i class="fas fa-list"></i> Все {{st.caption}}</button> 
            {{#uScopes.update}} 
              {{#preview}} 
                <button type="button" class="btn waves-effect waves-light btn-outline-primary edit-btn" data-id="{{st.id}}"><i class="fas fa-pencil-alt"></i> Редактировать</button> 
              {{/preview}} 
              {{^preview}} 
                {{#st.id}} <button type="button" class="btn waves-effect waves-light btn-outline-success save-btn" data-id="{{st.id}}"><i class="fas fa-check"></i> Сохранить</button> {{/st.id}} 
              {{/preview}} 
            {{/uScopes.update}} 
            {{#uScopes.create}} 
              {{^preview}} 
                {{^st.id}} <button type="button" class="btn waves-effect waves-light btn-outline-success save-btn" data-id><i class="fas fa-check"></i> Создать</button> {{/st.id}} 
              {{/preview}} 
            {{/uScopes.create}}
          </div>
        </div>
        <form class="edit-form" novalidate>
          <div class="row">
            <div class="col-md-8">
              {{#preview}} 
                {{#position}}
                <label class="control-label">Порядковый номер блока</label>
                <blockquote>{{position}}</blockquote>
                {{/position}}
              {{/preview}} 
              {{^preview}} 
                <input type="hidden" class="form-control" name="id" value="{{id}}">
                {{#position}}
                <div class="form-group">
                  <label class="control-label">Порядковый номер блока</label>
                  <input class="form-control" type="number" min="1" value="{{position}}" name="position">
                </div>
                {{/position}}
              {{/preview}}
              {{#preview}} 
                <div class="form-group">
                  <label class="control-label">Тип разделителя</label>
                  <blockquote>{{type_name}}</blockquote>
                </div>
              {{/preview}} 
              {{^preview}} 
                <div class="form-group">
                  <label class="control-label">Тип разделителя</label>
                  <select 
                      class="form-control select2 collapse-select" 
                      data-allow-clear="true" 
                      name="type" 
                      data-selected="{{type}}">
                    <option value="categories" data-target="categories">Слайдер категории</option>
                    <option value="videos">Слайдер видео</option>
                    <option value="custom" data-target="custom">Инфо-блоки</option>
                    <option value="random">Случайные инфо-блоки</option>
                  </select>
                </div>
              {{/preview}}
              {{#preview}} 
                {{#categories}}
                  <div class="form-group">
                    <label class="control-label">Категория</label>
                    <blockquote>{{category.name}}</blockquote>
                  </div>
                {{/categories}}
              {{/preview}} 
              {{^preview}} 
              <div class="collapse" id="categories">
                <div class="card card-body">
                  <div class="form-group">
                    <label class="control-label">Категория</label>
                    <br>
                    <select 
                      class="form-control select2 ajax-select" 
                      data-url="/api/v1/categories?status=visible" 
                      data-base-url="/api/v1/categories?status=visible"
                      data-allow-clear="true" 
                      name="data[category_id]" 
                      value="{{data.category_id}}">
                      <option value=""></option>
                      {{#category}}
                        <option 
                            value="{{category.id}}" 
                            selected="selected">
                            {{category.name}}
                        </option>
                      {{/category}}
                    </select>
                  </div>
                </div>
              </div>
              {{/preview}}
              {{#preview}} 
                {{#custom}} 
                  <div class="row">
                    <div class="col-md-6">
                      <label class="control-label">Блок слева</label>
                      <blockquote>{{left.type_name}}</blockquote>
                    </div>
                    <div class="col-md-6">
                      <label class="control-label">Блок справа</label>
                      <blockquote>{{right.type_name}}</blockquote>
                    </div>
                  </div>
                {{/custom}} 
              {{/preview}} 
              {{^preview}} 
              <div class="collapse" id="custom">
                <div class="card card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Блок слева</label>
                        <br>
                        <select 
                            class="form-control select2" 
                            data-allow-clear="true" 
                            name="data[left_id]" 
                            data-selected="{{data.left_id}}">
                          <option value="quote">Цитата</option>
                          <option value="joke">Анекдот</option>
                          <option value="horoscope">Гороскоп</option>
                          <option value="video">Видео</option>
                          <option value="currency">Курс валют</option>
                          <option value="weather">Погода</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label">Блок справа</label>
                        <br>
                        <select 
                            class="form-control select2" 
                            data-allow-clear="true" 
                            name="data[right_id]" 
                            data-selected="{{data.right_id}}">
                          <option value="quote">Цитата</option>
                          <option value="joke">Анекдот</option>
                          <option value="horoscope">Гороскоп</option>
                          <option value="video">Видео</option>
                          <option value="currency">Курс валют</option>
                          <option value="weather">Погода</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              {{/preview}}
            </div>
            <div class="col-md-4">
              {{#preview}} 
                <label class="control-label">Опубликовано</label> 
                {{#published_at}}
                  <blockquote>Да</blockquote>
                {{/published_at}} 
                {{^published_at}}
                  <blockquote>Нет</blockquote>
                {{/published_at}} 
              {{/preview}} 
              {{^preview}}
                {{#uScopes.publish}}
                  <div class="form-group">
                    <label class="control-label">Опубликовано</label> 
                    <select class="form-control select2" name="status" data-selected="{{#published_at}}1{{/published_at}}{{^published_at}}0{{/published_at}}">
                      <option value="1">Да</option>
                      <option value="0">Нет</option>
                    </select>
                    <div class="invalid-feedback"></div>
                  </div>
                {{/uScopes.publish}}
              {{/preview}} 
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>